.advantages {
  width: 100%;
  margin: 0 auto;

  &__wrapper {
    padding: 10px 18px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin: 30px 0px 30px 0px;
    }

    @media (min-width: $tablet-width) {
      font-size: 21px;
      height: 130px;
    }
  }

  &__slogan {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      font-size: 21px;


      br {
        display: block;
      }
    }
  }

  &__intro {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin: 20px 0px 20px 0px;
    }

    @media (min-width: $desktop-width) {
      font-size: 21px;
      margin: 20px 0px 20px 0px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    counter-reset: advantages;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
      padding: 0;
    }
  }

  &__item {
    list-style-type: none;
    counter-increment: advantages;

    @media (min-width: $tablet-width) {
      display: grid;
    }

    &-large {
      @media (min-width: $tablet-width) {
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        padding: 0;
      }
    }
  }

  &__description {
    position: relative;
    height: 211px;
    color: $whate;
    background-color: $blue;
    padding: 35px 20px;

    @media (min-width: $tablet-width) {
      height: 100%;
    }

    &::before {
      content: "- №" counter(advantages) " -";
      position: absolute;
      top: 90px;
      left: 45%;

      @media (min-width: $tablet-width) {
        top: 110px;
        left: 43%;
      }

      @media (min-width: $desktop-width) {
        left: 45%;
      }
    }

    &-favor {
      position: relative;
      background-color: $mediumgrey;
      padding: 26px;
      border-bottom: 2px solid $whategrey;

      &:last-child {
        border-bottom: none;
      }

      &::before {
        content: "- №" counter(advantages) " -";
        position: absolute;
        top: 75px;
        right: 45%;

        @media (min-width: $tablet-width) {
          top: 100px;
          right: 42%;
        }

        @media (min-width: $desktop-width) {
          right: 45%;
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;

    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      br {
        display: block;
      }
    }

    &-favor {
      @extend .advantages__title;
    }
  }

  &__text {
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 21px;

    &-favor {
      @extend .advantages__text;

      br {
        display: none;

        @media (min-width: $tablet-width) {
          display: block;
        }
      }
    }
  }

  &__photo {
    @media (min-width: $tablet-width) {
      grid-column: 2 / -1;
    }
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
  }

  &__lists {
    padding: 25px 15px 35px 20px;
    list-style-type: none;

    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
      padding: 0;
    }
  }

  &__items {
    display: flex;
    width: 100%;

    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: grid;
      align-content: start;
      text-align: center;
      gap: 26px;
      width: 100%;
      min-height: 380px;
      padding: 30px;
      padding-top: 80px;
    }

    &-block {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      margin-bottom: 26px;
    }

    &-title {
      font-size: 18px;
      line-height: 26px;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;

      @media (min-width: $tablet-width) {
        font-size: 21px;
        padding-bottom: 20px;
      }
    }

    &-text {
      margin: 0;

      @media (min-width: $tablet-width) {
        font-size: 14px;
        line-height: 21px;
      }

      br {
        display: none;

        @media (min-width: $tablet-width) {
          display: block;
        }
      }
    }
  }

  &__icon-items {
    width: 70px;
    fill: $blue;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      width: 75px;
      height: 72px;
    }
  }
}
