.photo-container {
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
  }
  
  .photo__wrapper {
    padding: 30px 15px 20px;
  
    br {
      display: none;
      
      @media (min-width: 768px) {
        display: block;
      }
    }
  
    &-title {
      font-size: 18px;
      line-height: 26px;
      margin-top: 40px;
      margin-bottom: 40px;
  
      @media (min-width: 768px) {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }
  
  .photo__intro {
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 767px) {
    .gallery__item-wrapper:not(:first-child) {
      grid-column: 1 / -1;
    }
  }