// Colors
$whate: #FFFFFF;
$black: #000000;
$grey: #333333;
$silvergrey: #e6e6e6;
$whategrey: #d6d6d6;
$lightgrey: #F2F2F2;
$mediumgrey: #E5E5E5;
$whateblue: #C3C7C9;
$blue: #81B3D2;
$mediumblue: #669EC0;
$darkblue: #5496BD;
$blackblue: #4b87ac;
$brown: #756257;
$green: #7DB54F;
$error: #ff5757;

// Viewports
$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width-only: 767px;