// Colors
$whate: #FFFFFF;
$black: #000000;
$grey: #333333;
$silvergrey: #e6e6e6;
$whategrey: #d6d6d6;
$lightgrey: #F2F2F2;
$mediumgrey: #E5E5E5;
$whateblue: #C3C7C9;
$blue: #81B3D2;
$mediumblue: #669EC0;
$darkblue: #5496BD;
$blackblue: #4b87ac;
$brown: #756257;
$green: #7DB54F;
$error: #ff5757;

// Цвета
$color-primary: #81b3d2;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #1a3649;
$color-blue-hover: #669ec0;
$color-blue-active: #5496bd;

// Брейкпоинты
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Шрифты
$font-base: "PT Sans", Arial, sans-serif;
$font-size-base: 18px;
$line-height-base: 26px;